{% extends "../common/base.html" %}

{% block content %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/accounts/password_reset.css' %}">

    {% load bootstrap4 %}

    <div class="password-reset-container">
        <p class="title">
            <span>
                Please insert your Email address
            </span>
        </p>
        <p class="context">
            <span>
                You can check the url for resetting password on your mail box.
            </span>
        </p>
        <form id="frm" method="post" class="sign-in-form">
            {% csrf_token %}
            {% bootstrap_form form %}
            <span class="comment">
                Because we have encrypted your password, <br>
                we cannot know your password. <br>
                so you must reset your password through the email verification process.
            </span><br>
            <button type="submit" class="btn btn-outline-info reset-btn">
                Send email
            </button>
        </form>
    </div>

{% endblock %}