{% extends "../common/base.html" %}

{% block content %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/accounts/password_reset_done.css' %}">

    {% load bootstrap4 %}

    <div class="password-reset-container">
        <p class="title">
            <span>
                Please check your Email account
            </span>
        </p>
        <p class="context">
            <span>
                You can reset your password by the url on your Email
            </span>
        </p>
    </div>

{% endblock %}