{% extends "../common/base.html" %}

{% block content %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/qnas/qnas_view.css' %}">
    <script src="{% static 'js/qnas/qnas_view.js' %}"></script>
    <script type="text/javascript">
        var user = {
            'id': '{{ user.id }}',
            'is_active': '{{ user.is_active }}',
            'nickname': '{{ user.nickname }}'
        };
        var post = {
            'id': '{{ post.id }}',
            'pub_user': '{{ post.pub_user }}'
        };
    </script>

    <table class="table post">
        <thead>
        <tr>
            <th colspan="2">Post</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>Category</td>
            <td> {{ post.get_category_display }}</td>
        </tr>
        <tr>
            <td>title</td>
            <td> {{ post.title }}</td>
        </tr>
        <tr>
            <td>writer</td>
            <td> {{ post.pub_user_nickname }}</td>
        </tr>
        <tr>
            <td>date</td>
            <td> {{ post.pub_dttm }}</td>
        </tr>
        <tr class="context">
            <td colspan="2">
                <div>
                    {{ post.context | safe }}
                </div>
            </td>
        </tr>
        </tbody>
    </table>
    <div class="btns">
        <button class="btn btn-info" type="button" onClick="location.href='/qnas_write/'">Write
        </button>
        <button class="btn btn-info" type="button" onClick="location.href='/qnas_list/'">List</button>
        {% if user.is_active == False %}
            {% if post.pub_user == 0 %}
                <button class="btn btn-info" id="modify-post" type="button" onClick="postModify({{ post.id }})">Modify
                </button>
                <button class="btn btn-info" id="delete-post" type="button" onClick="postDelete({{ post.id }})">Delete
                </button>
            {% endif %}
        {% else %}
            {% if post.pub_user == user.id %}
                <button class="btn btn-info" id="modify-post" type="button" onClick="postModify({{ post.id }})">Modify
                </button>
                <button class="btn btn-info" id="delete-post" type="button" onClick="postDelete({{ post.id }})">Delete
                </button>
            {% elif post.pub_user != 0 %}
                <button class="btn btn-info" id="send-message" type="button" onClick="sendMessage({{ post.pub_user }})">
                    Message
                </button>
            {% endif %}
        {% endif %}
    </div>

    {% if replies %}
        <table class="table replies">
            <thead>
            <tr>
                <th colspan="4">Replies</th>
            </tr>
            </thead>
            <tbody>
            {% for reply in replies %}
                <tr onclick="reReply({{ reply.parent }}, '{{ reply.context|slice:":20" }}')">
                    {% if reply.seq == reply.parent %}
                        <td> {{ reply.seq }} </td>
                    {% else %}
                        <td><i class="fas fa-angle-right"></i></td>
                    {% endif %}
                    {% if reply.reply_user == 0 %}
                        <td><i class="fas fa-user-ninja"></i>&nbsp{{ reply.reply_user_nickname }}</td>
                    {% else %}
                        <td>{{ reply.reply_user_nickname }}</td>
                    {% endif %}
                    <td>
                        <div>
                            {{ reply.context }}
                        </div>
                    </td>
                    <td>
                        {{ reply.reply_dttm | date:"G:i" }}<br>
                        {% if user.is_active == False %}
                            {% if reply.reply_user == 0 %}
                                <i class="far fa-trash-alt"
                                   onClick="replyDelete(event, {{ reply.qnas }}, {{ reply.seq }}, {{ reply.reply_user }})"></i>
                            {% endif %}
                        {% else %}
                            {% if reply.reply_user == user.id %}
                                <i class="far fa-trash-alt"
                                   onClick="replyDelete(event, {{ reply.qnas }}, {{ reply.seq }}, {{ reply.reply_user }})"></i>
                            {% endif %}
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% endif %}

    <form method="POST" name="replyForm" class="post-form">
        <table class="table reply">
            <thead>
            <tr>
                <th colspan="4">Reply</th>
            </tr>
            </thead>
            <tbody>
            {% csrf_token %}
            <input type="hidden" name="qnas" value='{{ post.id }}'>
            {{ form.reply_user }}
            <input type="hidden" name="parent" id="parent-reply-id" value=0>
            {% if user.is_active == False %}
                <tr>
                    <td> Name</td>
                    <td> {{ form.reply_user_nickname }} </td>
                    <td> PW</td>
                    <td> {{ form.password }} </td>
                </tr>
            {% endif %}
            <tr>
                <td colspan="4"> {{ form.context }} </td>
            </tr>
            <tr id="rereply-comment" class="visible-false-custom">
                <td id="re-reply" colspan="3"></td>
                <td id="re-reply-cancel"></td>
            </tr>
            </tbody>
        </table>
    </form>
    <button class="btn btn-outline-secondary btn-reply-submit" onclick="replySubmit()">Send</button>

{% endblock %}