.password-reset-container{
    margin: 40px;
}

.title{
    font-size: 2em;
    font-family: 'Indie Flower', cursive;
}

.context{
    font-size: 1.4em;
    margin: 30px 0px;
}

.form-control{
    max-width: 360px;
}

.reset-btn{
    margin-top: 30px;
}